body {
   display: flex;
   height: 100vh;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding: 5px;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
   
}

.container {
    display: none;
    background: #fff;
    padding: 15px 20px;
    border-radius: 5px;
}

.additem:hover .container {
    display: block;
}

.product-description {
    border: 2px solid;
    padding: 10px;
    width: 260px;
    border-radius: 10px;
}
.product-category  {
    border: 2px solid;
    padding: 10px;
    width:fit-content;
    border-radius: 10px;

}
select {
    width:260px;
}
.selling-type {
    border: 2px solid;
    padding: 10px;
    width:260px;
    border-radius: 10px;
}

.pricing {
    border: 2px solid;
    padding: 10px;
    width:260px;
    border-radius: 10px;
}

button {
    width: 285px;
    border: 2px solid;
    color: #fff;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}

